@using HMSproject.Models;
@model List<Diagnose>
@*@using static H_M_S__project_.Controllers.WorkController;
@model PatientDiagnosisViewModel
<p>Diagnose count: @Model.diagnose?.Count</p>*@
@{
    Layout = null;
}




<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @* <title>@ViewData["Title"] HMSproject</title> *@
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/HMSproject.styles.css" asp-append-version="true"/> *@






    @*-----Doctor-------*@
    <link rel="stylesheet" href="~/Doctor/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Doctor/lib/bootstrap/bootstrap.min.js" />
    <link rel="stylesheet" href="~/Doctor/css/style.css" />
    <link rel="stylesheet" href="~/Doctor/css/style.css.map" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/Doctor/Images/1.jpg" />
    <link rel="stylesheet" href="~/Doctor/Images/22.jpg" />
    <link rel="stylesheet" href="~/Doctor/Images/ll.jpg" />
    <link rel="stylesheet" href="~/Doctor/Images/logo.png" />
    <link rel="stylesheet" href="~/Doctor/Images/syringe-solid.svg" />
    <link rel="stylesheet" href="~/Doctor/Images/user-solid (2).svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    @*-----Doctor-------*@
    
    
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Health Care Medical Html5 Template" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <meta name="author" content="Themefisher" />
    <meta name="generator" content="Themefisher Novena HTML Template v1.0" />
    
    <!-- theme meta -->
    <meta name="theme-name" content="novena" />
    
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" /> -->
        
    <link rel="icon" href="~/theme/images/favicon.ico" type="image/icon type" />
    
    <!--
    Essential stylesheets
    =====================================-->
    <link rel="stylesheet" href="~/theme/plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/theme/plugins/icofont/icofont.min.css" />
    <link rel="stylesheet" href="~/theme/plugins/slick-carousel/slick/slick.css" />
    <link
        rel="stylesheet"
        href="~/theme/plugins/slick-carousel/slick/slick-theme.css"
    />
    
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/theme/css/style.css" />

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CareCoord</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

    <!--
    Essential stylesheets
    =====================================-->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">


    <style>
    .bg-1 {
        background-image: url("/Images/im.jpg");
        background-size: cover;
        position: relative;
    }
</style>
</head>
<body>
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white"></span>
                    <h1 class="text-capitalize mb-5 text-lg">Medical History</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ****************************************Medical History****************************************************** -->
<section class="tab">
    <div class="container">
        @if (TempData["NoDiagnoses"] == "Oh oops! The patient hase no disgnoses")
        {
            <div class="alert alert-dismissible alert-danger">
                <strong>@TempData["NoDiagnoses"]</strong>
            </div>
        }
        <div class="doctor-img-block">
            <h2 style="color:black; font-style: normal;">Patient Medical History</h2>
            <div class="table-wrapper">
                <partial name="_Notification"/>
                <table class="fl-table">
                    <thead>
                    <tr>

                        <th> Description</th>
                        <th> prescription</th>
                        <th> Medical Analysis</th>
                        <th> Date</th>


                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var diagnose in Model)
                    {
                        <tr>

                            <td>@diagnose.Description</td>
                            <td>@diagnose.Prescription</td>
                            <td>@diagnose.Analysis</td>
                            <td>@diagnose.Date </td>


                        </tr>

                    }


                    <tbody>
                </table>
            </div>
            <hr/>
            <hr/>
            <a class="btn btn-slide-9" asp-controller="Work" asp-action="patient" type="submit" style="background-color:black; margin-left: 85%; color: white; argin-top: 10%; ">Back &nbsp; <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>
            <a class="btn btn-slide-9" asp-controller="Work" asp-action="work" type="submit" style="background-color:black; margin-right: 90%; color: white; argin-top: 8%; width:20%;">Work <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>


        </div>
    </div>
</section>
</body>
</html>