@using HMSproject.Models;
@model Patient 

@{
    var patients = ViewBag.Pat as List<Patient>;
	ViewData["Title"] = "Dashboard";
    Layout = "_LayoutDoctor";
}

    <style>      
        .bg-1 {
            background-image: url("../Doctor/Images/22.jpg");
            background-size: cover;
            position: relative;
        }
  


        select {
            /* Reset Select */
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            /* Personalize */
            flex: 1;
            padding: 0 1em;
            color: #fff;
            background-color: var(--darkgray);
            background-image: none;
            cursor: pointer;
        }
            /* Remove IE arrow */
            select::-ms-expand {
                display: none;
            }
        /* Custom Select wrapper */
        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            border-radius: .25em;
            overflow: hidden;
        }
            /* Arrow */
            .select::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 1em;
                background-color: black;
                transition: .25s all ease;
                pointer-events: none;
            }
            /* Transition */
            .select:hover::after {
                color: white;
            }

        /* Other styles*/
        body {
            color: #fff;
        }

        h1 {
            margin: 0 0 0.25em;
        }

        a {
            font-weight: bold;
            color: var(--gray);
            text-decoration: none;
            padding: .25em;
            border-radius: .25em;
            background: white;
        }

    </style>

    <!-- ********************************************************************************************************** -->

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white"></span>
                        <h1 class="text-capitalize mb-5 text-lg">Patient Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- *********************************************************************************** -->
    <section class="tab">
        <div class="container">
            <div class="doctor-img-block">
                <h2 style="color: black; font-style: normal;">Patient Data</h2>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th> Age</th>
                                <th> Gander</th>
                             
                               
                                <th> Medical Hictory</th>

                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr>
                                    <td>@Model.Name</td>
                                    <td>@Model.Age</td>
                                    <td>@Model.Gender</td>
                                
                                   
                                <td>

                                      <a class="btn btn-slide-9" asp-controller="Work" asp-action="Hictory"  asp-route-Id="@Model.Id" > <u style="color:darkblue;">Show</u></a>
                                    
                                </td>
                                
                            </tr>
                           

                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="section doctor-qualification gray-bg">
        <div class="container">
            <div class="section-title">
                <h3>Write the prescription</h3>
                <div class="divider my-4"></div>
            </div>

          
            <a class="btn btn-slide-9"  href="@Url.Action("Click", "Work")" type="submit" style="background-color:black; margin-left: 45%; color: white; ">Click here &nbsp; <i style="color:white;" class="bi bi-pen-fill"></i></a>
            <hr>
            <a class="btn btn-slide-9" asp-controller="Work" asp-action="Work" type="submit" style="background-color:black; margin-left: 85%; color: white; argin-top: 10%; ">Back &nbsp; <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>

           




        </div>
    </section>