@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using HMSproject.Models

@model IEnumerable<Appointment>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-dark mb-4 mt-2 font-20">Appointments</h4>
              
                <div class="table-responsive">
                    <table class="table no-wrap v-middle mb-0 table-striped">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Patient Name</th>
                                <th class="text-center">Patient Age</th>
                                @*<th class="text-center">Patient Phone</th>*@
                                <th class="text-center">Department</th>
                                <th class="text-center">Doctor</th>
                                <th class="text-center">Day</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var obj in Model) {
                                <tr>
                                    @if (obj.Status == 1)
                                    {
                                        <td class="text-success">
                                            @obj.Patient.Name
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-warning">
                                            @obj.Patient.Name
                                        </td>
                                    }
                                    <td class="text-center">
                                        @obj.Patient.Age
                                    </td>
                                    @*<td class="text-center">
                                        @obj.Patient.Phone
                                    </td>*@
                                    <td class="text-center">@obj.Department.Name</td>

                                    @foreach (KeyValuePair<int, string> name in ViewBag.Names)
                                    {
                                        if (name.Key == obj.DepartmentID)
                                        {
                                            <td class="text-center">
                                                @name.Value
                                            </td>
                                            break;
                                        }
                                    }
                                   
                                    <td class="text-center text-dark">
                                        @obj.Day
                                    </td>
                                    @if (obj.Status == 1)
                                    {
                                        <td class="text-center">
                                            <i class="fa fa-circle text-success font-12"
                                            data-bs-toggle="tooltip"
                                            data-placement="top"
                                            title="completed"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <i class="fa fa-circle text-warning font-12"
                                               data-bs-toggle="tooltip"
                                               data-placement="top"
                                               title="pending"></i>
                                        </td>
                                    }
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>