@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using HMSproject.Models

@model IEnumerable<Department>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div style="display:flex; justify-content: space-between">
                    <h4 class="card-title text-dark mb-4 mt-2">Departments List</h4>
                    <h5 style="width: 30%;">
                        <span style="color: red; font-size: 15px; font-weight: bold; display: block; text-align: center">Be Careful !</span>
                        <p style="color: #777; font-size: 12px; text-align: center;">By Removing a department, All Related Appointments, Doctors and Nurses will be removed also</p>
                    </h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th class="text-center">Image</th>
                                <th class="text-center">Dept Name</th>
                                <th class="text-center">Appointment Cost</th>
                                <th class="text-center">No.doctors</th>
                                <th class="text-center">No.Nurses</th>
                                <th class="text-center">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td class="text-center text-black">
                                        <img src="~/images/dept/@obj.Image" height="40px" width="50px" alt="DeptImage">
                                    </td>
                                    <td class="text-black text-center">@obj.Name</td>
                                    <td class="text-center text-orange">@obj.app_price</td>
                                    @foreach (KeyValuePair<int, int> dr in ViewBag.Doc)
                                    {
                                        if (dr.Key == obj.Id)
                                        {
                                            <td class="text-center text-black">
                                                @dr.Value
                                            </td>
                                            break;
                                        }
                                    }
                                    @foreach (KeyValuePair<int, int> ns in ViewBag.Nur)
                                    {
                                        if (ns.Key == obj.Id)
                                        {
                                            <td class="text-center text-black">
                                                @ns.Value
                                            </td>
                                            break;
                                        }
                                    }
                                    <td class="text-center">
                                        <div class="w-90 btn-group" role="group">
                                            <a asp-controller="Dept" asp-action="SingleDepartment" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-1">
                                                <i class="fas fa-rocket"></i>
                                            </a>
                                            <a asp-controller="Dept" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-1">
                                                <i class="fas fa-pencil"></i>
                                            </a>
                                            <a asp-controller="Dept" asp-action="EditImage" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-1">
                                                <i class="fas fa-image"></i>
                                            </a>
                                            <form method="POST" asp-action="Delete" asp-route-id="@obj.Id">
                                                <button type="submit" class="btn btn-outline-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>