@using HMSproject.Models;
@model List<Patient>




<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Novena- Health Care &amp; Medical template</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Health Care Medical Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Novena HTML Template v1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

    <!--
    Essential stylesheets
    =====================================-->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <style>

       
        .bg-1 {
            background-image: url("/Images/im.jpg");
            background-size: cover;
            position: relative;
        }
   
        select {

            /* Reset Select */
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            /* Personalize */
            flex: 1;
            padding: 0 1em;
            color: #fff;
            background-color: var(--darkgray);
            background-image: none;
            cursor: pointer;
        }
            /* Remove IE arrow */
            select::-ms-expand {
                display: none;
            }
        /* Custom Select wrapper */
        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            border-radius: .25em;
            overflow: hidden;
        }
            /* Arrow */
            .select::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 1em;
                background-color: black;
                transition: .25s all ease;
                pointer-events: none;
            }
            /* Transition */
            .select:hover::after {
                color: white;
            }

        /* Other styles*/
        body {
            color: #fff;
        }

        h1 {
            margin: 0 0 0.25em;
        }

        a {
            font-weight: bold;
            color: var(--gray);
            text-decoration: none;
            padding: .25em;
            border-radius: .25em;
            background: white;
        }

    </style>


</head>

<body id="top">



    <!-- ********************************************************************************************************** -->

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white"></span>
                        <h1 class="text-capitalize mb-5 text-lg">Patient Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- *********************************************************************************** -->
<section class="tab">
    <div class="container">


        <div class="doctor-img-block">
            <h2 style="color: black; font-style: normal;">Patient Data</h2>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th> Age</th>
                        <th> Gander</th>
                        <th>Phone</th>

                        <th> Medical Hictory</th>

                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var Patient in Model)
                    {
                        <tr>
                            <td>@Patient.Name</td>
                            <td>@Patient.Age</td>
                            <td>@Patient.Gender</td>
                            <td>@Patient.PhoneNumber</td>

                            <td>
                                <a class="btn btn-slide-9" asp-action="Shictory" asp-controller="Search" asp-route-Id="@Patient.Id">
                                    <u style="color:darkblue;">Show</u>

                                </a>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<hr>
<a class="btn btn-slide-9" asp-controller="Work" asp-action="work" type="submit" style="background-color:black; margin-left: 85%; color: white; margin-top: 10%; ">Back &nbsp; <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>
</body>
</html>